*{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
#external{
	color: yellow;
}
h1{
	font-size: 2rem;
}
#course{
	text-transform: uppercase;
}
.languages{
	background-color: lightgreen;
}
li[value]{
	border-width: 2px;
	border-style: solid;
	border-color: lavender;
}
img + ul{
	list-style-type: none;
}
section img{
	height: 100px;
	width: 100px;
	border-radius: 150px;
}
h4 ~ p{
	text-align: center;
}
ul > li{
	letter-spacing: 10px;
}